"fullName","label","type","length","externalId","required","trackFeedHistory","unique"
"","Altra carta in essere stesso NDG","TEXT","255","false","false","false","unique"
"fullName2","Plafond altra carta in essere","TEXT","255","false","false","false","unique"
"fullName3","Altra carta in richiesta o non attiva","TEXT","255","false","false","false","unique"
"fullName4","Carta Nexi in essere","TEXT","255","false","false","false","unique"