"name","label","protected","RuoloSpecializzazioneFrom__c","RuoloSpecializzazioneTo__c"
"PortafoglioValidation","DIR_Z","false","DIR_Z","ADV_C;DIR_C;FAM"
"PortafoglioValidation","DIW_C","false","DIW_C","WEA_C"
