<?xml version="1.0" encoding="UTF-8"?>
<CustomMetadata xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <label>DIR_Z</label>
  <protected>false</protected>
  <values>
    <field>RuoloSpecializzazioneFrom__c</field>
    <value xsi:type="xsd:string">DIR_Z</value>
  </values>
  <values>
    <field>RuoloSpecializzazioneTo__c</field>
    <value xsi:type="xsd:string">ADV_C;DIR_C;FAM</value>
  </values>
</CustomMetadata>
